.fxs_calendarico {
	width: 100%;
	clear: both;
	float: left;
}
.fxs_partnership {
	transform: rotate(-90deg);
	color: white;
	margin: 1px 5px 0 0;
	padding: 1px 5px 0;
	float: left;
}
.fxs_partnership.fxs_platinum {
	background-color: #1b1c23;
}
.fxs_partnership.fxs_gold {
	background-color: #e4871b;
}
.fxs_partnership.fxs_silver {
	background-color: #a3a3a8;
}
.fxs_partnership.fxs_bronze {
	background-color: #f5c861;
}
