.fxs_calendarico .fxs_table > thead > tr > th.fxs_hidden_st_table,
.fxs_calendarico .fxs_table > tbody > tr > td.fxs_hidden_st_table {
	display: none;
}

@media (min-width: 768px) {
	.fxs_calendarico .fxs_table > thead > tr > th.fxs_hidden_st_table,
	.fxs_calendarico .fxs_table > tbody > tr > td.fxs_hidden_st_table {
		display: table-cell;
	}
}

.fxs_calendarico {
	width: 100%;
	clear: both;
	float: left;
}
.fxs_calendarico p {
	margin-bottom: 0.5rem;
	font-size: 0.8rem;
}
@media (min-width: 680px) {
	.fxs_calendarico p {
		margin-bottom: 0.92rem;
	}
}
.fxs_calendarico .fxs_btn {
	margin-bottom: 0.5rem;
	font-size: 0.8rem;
	max-width: 150px;
	float: right;
	margin-left: 10px;
}
@media (min-width: 680px) {
	.fxs_calendarico .fxs_btn {
		margin-bottom: 0.92rem;
	}
}

.fxs_calendarico .fxs_table {
	width: 100%;
}
.fxs_calendarico .fxs_table > tbody > tr:nth-child(even) {
	background-color: #f3f3f8;
}

.fxs_calendarico .fxs_table > tbody > tr > td {
	padding: 5px;
}
.fxs_calendarico .fxs_links {
	text-align: center;
}
.fxs_calendarico p.fxs_partnership {
	color: white;
	padding: 1px 5px;
	font-weight: 500;
	font-style: italic;
	font-size: 0.7rem;
	transform: rotate(-90deg) translate(-31px, -60px);
	text-align: center;
	margin: 0;
	max-width: 75px;
}
@media (min-width: 680px) {
	.fxs_calendarico p.fxs_partnership {
		color: white;
		padding: 1px 5px;
		font-weight: 500;
		font-style: italic;
		font-size: 0.8rem;
		transform: rotate(-90deg) translate(-31px, -60px);
		text-align: center;
		margin: 0;
	}
}
.fxs_calendarico .fxs_table > thead > tr > th.fxs_partnership,
.fxs_calendarico .fxs_table > tbody > tr > td.fxs_partnership {
	display: none;
}
@media (min-width: 375px) {
	.fxs_calendarico .fxs_table > thead > tr > th.fxs_partnership,
	.fxs_calendarico .fxs_table > tbody > tr > td.fxs_partnership {
		display: table-cell;
	}
	.fxs_calendarico .fxs_table > tbody > tr > td.fxs_partnership {
		width: 105px;
		text-align: left;
	}
}

.fxs_calendarico .fxs_table > tbody > tr > td.fxs_ico_image {
	vertical-align: middle;
	width: 85px;
	padding-left: 45px;
}
.fxs_calendarico .fxs_table > tbody > tr > td.fxs_ico_image img {
	width: 50px;
	height: 50px;
	margin: 0;
	margin-top: -5px;
}
@media (min-width: 680px) {
	.fxs_calendarico .fxs_table > tbody > tr > td.fxs_ico_image img {
		width: 75px;
		height: 75px;
		margin: 0;
		margin-top: -17px;
	}
}
.fxs_calendarico .fxs_table > tbody > tr > td.fxs_countdown {
	display: table-cell;
	width: 110px;
}
.fxs_calendarico p.fxs_partnership.fxs_platinum {
	background-color: #49494f;
}

.fxs_calendarico p.fxs_partnership.fxs_gold {
	background-color: #deaf37;
}

.fxs_calendarico p.fxs_partnership.fxs_silver {
	background-color: #a3a3a8;
}

.fxs_calendarico p.fxs_partnership.fxs_bronze {
	background-color: #cd7f32;
}

.fxs_calendarico .diamond {
	width: 20px;
	height: 20px;
	display: inline-block;
	background-image: url(https://editorial.blob.core.windows.net/images/Resources/icon-diamond.svg);
	background-size: contain;
	background-repeat: no-repeat;
}

.fxs_calendarico .fxs_progressbar {
	width: 100%;
	float: left;
	height: 0.9rem;
	border: 1px solid #304c70;
	display: block;
	overflow: hidden;
}

.fxs_calendarico .fxs_progressbar span {
	background-color: #304c70;
	float: left;
	height: 1rem;
	display: block;
}

.fxs_calendarico .fxs_progressbar.fxs_imminent {
	width: 100%;
	float: left;
	height: 0.9rem;
	border: 1px solid #d25746;
	display: block;
	overflow: hidden;
}

.fxs_calendarico .fxs_progressbar.fxs_imminent span {
	background-color: #d25746;
	float: left;
	height: 1rem;
	display: block;
}
