.fxs_calendarico {
	width: 100%;
	clear: both;
	float: left;
}

.fxs_calendarico .fxs_partnership {
	transform: rotate(-90deg);
	color: white;
	margin: 1px 5px 0 0;
	padding: 1px 5px 0;
	float: left;
	font-weight: 500;
	font-style: italic;
}
.fxs_calendarico .fxs_partnership.fxs_platinum {
	background-color: #2F2F33;
}

.fxs_calendarico .fxs_partnership.fxs_gold {
	background-color: #e4871b;
}

.fxs_calendarico .fxs_partnership.fxs_silver {
	background-color: #a3a3a8;
}

.fxs_calendarico .fxs_partnership.fxs_bronze {
	background-color: #f5c861;
}

.fxs_calendarico tr:nth-child(even) {
	background-color: #f3f3f8;
}
.fxs_calendarico td {
	padding:20px;
}

.fxs_calendarico .fxs_ico_image{
vertical-align: middle;
}
.fxs_calendarico .fxs_ico_image img{
	width: 100px;
	height: 100px;
}